CONFIG_TARGET_armsr=y
CONFIG_TARGET_armsr_armv7=y
CONFIG_TARGET_armsr_armv7_DEVICE_generic=y
CONFIG_SOFT_FLOAT=y
CONFIG_TARGET_ROOTFS_CPIOGZ=y
CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-ssl=y
CONFIG_PACKAGE_luci-app-firewall=y
CONFIG_PACKAGE_dnsmasq=y
CONFIG_PACKAGE_iw=y
CONFIG_PACKAGE_iwinfo=y
CONFIG_PACKAGE_wifi-scripts=y
CONFIG_PACKAGE_wireless-regdb=y
CONFIG_PACKAGE_ubi-utils=y
CONFIG_PACKAGE_kmod-b43=y
CONFIG_B43_FW_5_100_138=y
CONFIG_B43_FW_SQUASH=y
CONFIG_B43_FW_SQUASH_COREREVS="30"
CONFIG_B43_FW_SQUASH_PHYTYPES="N"
CONFIG_PACKAGE_B43_BUSES_BCMA=y
CONFIG_PACKAGE_B43_PHY_N=y
CONFIG_PACKAGE_kmod-brcmfmac=y
CONFIG_PACKAGE_wpad-mbedtls=y
CONFIG_DRIVER_11AC_SUPPORT=y
